header {
  .header-top {
    height: 108px;
    padding: 0 50px;
    line-height: 7;
    background-color: $colorA;
    @include iphone {
      position: relative;
      height: auto;
      padding: 0;
    }
    .logo {
      float: left;
      @include iphone {
        position: absolute;
        left: 40%;
        line-height: 4;
      }
      img {
        @include iphone {
          width: 80%;
        }
      }
    }
    .nav {
      float: right;
      @include iphone {
        float: none;
        padding-top: 66px;
      }
      li {
        padding: 0 25px;
        @include iphone {
          float: none;
          width: 50%;
          line-height: 3;
          outline: 2px solid #fff;
          text-align: center;
          background-color: $colorA;
        }
        a {
          color: $colorC;
          transition: 0.2s linear all;
          &:hover {
            color: rgb(218, 218, 218);
          }
        }
      }
    }
  }
}

footer {
  background-color: $colorA;
  .container {
    @include iphone {
      position: relative;
      padding: 15px;
    }
  }
  .footer-nav {
    padding-top: 15px;
    line-height: 5;
    @include iphone {
      position: absolute;
      right: 0;
    }
    li {
        float: left;
        padding-right: 25px;
        a {
          @include pad {
            font-size: 12px;
          }
        }
    }
    .ul-right {
      float: right;
      @include iphone {
        padding: 0;
        line-height: 1;
      }
      li {
        padding: 0 15px;
        @include iphone {
          padding: 0 10px;
        }
        i {
          @include pad {
            font-size: 30px;
          }
          @include iphone {
            font-size: 15px;
          }
        }
      }
    }
    .display-s {
      @include iphone {
        display: none;
      }
    }
    .soshow-media {
      i {
        font-size: 35px;
        color: $colorC;
      }
    }
  }
  .contact-method {
    h2 {
      text-align: left;
      padding-left: 40px;
      color: $colorC;
      @include pad {
        font-size: 25px;
        padding-left: 30px;
      }
      @include iphone {
        font-size: 15px;
        font-weight: normal;
        padding-left: 25px;
      }
    }
    i {
      position: absolute;
      top: 16px;
      font-size: 30px;
      color: $colorC;
      @include pad {
        font-size: 25px;
      }
      @include iphone {
        font-size: 15px;
        top: 11px;
      }
    }
    li {
      position: relative;
      padding-top: 10px;
    }
  }
  a {
    color: $colorC;
    transition: 0.2s linear all;
    &:hover {
      color: rgb(218, 218, 218);
    }
  }
  hr {
    margin-top: 20px;
    color: $colorC;
    @include iphone {
      margin: 15px 0;
    }
  }
  .copyright {
    padding: 20px 0;
    @include iphone {
      padding: 0;
    }
    p {
      float: left;
      color: $colorC;
      @include pad {
        font-size: 10px;
      }
      @include iphone {
        float: none;
      }
    }
    ul {
      float: right;
      @include iphone {
        float: none;
      }
      li {
        float: left;
        padding: 0 25px;
        @include pad {
          font-size: 12px;
        }
        @include iphone {
          float: none;
          padding: 3px 0;
        }
      }
    }
  }
  i {
    color: $colorC;
  }
}