@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  display: block;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1, h2, h3 {
  font-weight: bold; }

.col-4, .col-6, .col-12 {
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  display: block;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }

.clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both; }

header .header-top {
  height: 108px;
  padding: 0 50px;
  line-height: 7;
  background-color: #AA0601; }
  @media (max-width: 375px) {
    header .header-top {
      position: relative;
      height: auto;
      padding: 0; } }
  header .header-top .logo {
    float: left; }
    @media (max-width: 375px) {
      header .header-top .logo {
        position: absolute;
        left: 40%;
        line-height: 4; } }
    @media (max-width: 375px) {
      header .header-top .logo img {
        width: 80%; } }
  header .header-top .nav {
    float: right; }
    @media (max-width: 375px) {
      header .header-top .nav {
        float: none;
        padding-top: 66px; } }
    header .header-top .nav li {
      padding: 0 25px; }
      @media (max-width: 375px) {
        header .header-top .nav li {
          float: none;
          width: 50%;
          line-height: 3;
          outline: 2px solid #fff;
          text-align: center;
          background-color: #AA0601; } }
      header .header-top .nav li a {
        color: white;
        -webkit-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all; }
        header .header-top .nav li a:hover {
          color: #dadada; }

footer {
  background-color: #AA0601; }
  @media (max-width: 375px) {
    footer .container {
      position: relative;
      padding: 15px; } }
  footer .footer-nav {
    padding-top: 15px;
    line-height: 5; }
    @media (max-width: 375px) {
      footer .footer-nav {
        position: absolute;
        right: 0; } }
    footer .footer-nav li {
      float: left;
      padding-right: 25px; }
      @media (max-width: 768px) {
        footer .footer-nav li a {
          font-size: 12px; } }
    footer .footer-nav .ul-right {
      float: right; }
      @media (max-width: 375px) {
        footer .footer-nav .ul-right {
          padding: 0;
          line-height: 1; } }
      footer .footer-nav .ul-right li {
        padding: 0 15px; }
        @media (max-width: 375px) {
          footer .footer-nav .ul-right li {
            padding: 0 10px; } }
        @media (max-width: 768px) {
          footer .footer-nav .ul-right li i {
            font-size: 30px; } }
        @media (max-width: 375px) {
          footer .footer-nav .ul-right li i {
            font-size: 15px; } }
    @media (max-width: 375px) {
      footer .footer-nav .display-s {
        display: none; } }
    footer .footer-nav .soshow-media i {
      font-size: 35px;
      color: white; }
  footer .contact-method h2 {
    text-align: left;
    padding-left: 40px;
    color: white; }
    @media (max-width: 768px) {
      footer .contact-method h2 {
        font-size: 25px;
        padding-left: 30px; } }
    @media (max-width: 375px) {
      footer .contact-method h2 {
        font-size: 15px;
        font-weight: normal;
        padding-left: 25px; } }
  footer .contact-method i {
    position: absolute;
    top: 16px;
    font-size: 30px;
    color: white; }
    @media (max-width: 768px) {
      footer .contact-method i {
        font-size: 25px; } }
    @media (max-width: 375px) {
      footer .contact-method i {
        font-size: 15px;
        top: 11px; } }
  footer .contact-method li {
    position: relative;
    padding-top: 10px; }
  footer a {
    color: white;
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all; }
    footer a:hover {
      color: #dadada; }
  footer hr {
    margin-top: 20px;
    color: white; }
    @media (max-width: 375px) {
      footer hr {
        margin: 15px 0; } }
  footer .copyright {
    padding: 20px 0; }
    @media (max-width: 375px) {
      footer .copyright {
        padding: 0; } }
    footer .copyright p {
      float: left;
      color: white; }
      @media (max-width: 768px) {
        footer .copyright p {
          font-size: 10px; } }
      @media (max-width: 375px) {
        footer .copyright p {
          float: none; } }
    footer .copyright ul {
      float: right; }
      @media (max-width: 375px) {
        footer .copyright ul {
          float: none; } }
      footer .copyright ul li {
        float: left;
        padding: 0 25px; }
        @media (max-width: 768px) {
          footer .copyright ul li {
            font-size: 12px; } }
        @media (max-width: 375px) {
          footer .copyright ul li {
            float: none;
            padding: 3px 0; } }
  footer i {
    color: white; }

header .header-bottom {
  height: 840px;
  background-image: url(https://images.unsplash.com/photo-1509029032154-54ba8b3216d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }
  @media (max-width: 375px) {
    header .header-bottom {
      height: 460px; } }

header .title {
  padding-top: 348px;
  margin: 0 20%;
  text-align: right; }
  @media (max-width: 1280px) {
    header .title {
      margin: 0 11%; } }
  @media (max-width: 375px) {
    header .title {
      padding-top: 260px; } }
  header .title h2 {
    font-weight: 700;
    color: #650300; }
    @media (max-width: 768px) {
      header .title h2 {
        font-size: 17px; } }
    @media (max-width: 375px) {
      header .title h2 {
        font-size: 15px; } }
  header .title h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #650300; }
    @media (max-width: 768px) {
      header .title h1 {
        font-size: 35px; } }
    @media (max-width: 375px) {
      header .title h1 {
        font-size: 27px; } }

.explain {
  background-color: #faeded; }
  .explain .container {
    padding: 50px 0; }
    .explain .container h2 {
      text-align: center; }
    .explain .container ul {
      text-align: center;
      padding: 90px 0; }
      @media (max-width: 768px) {
        .explain .container ul {
          padding: 50px 0; } }
      @media (max-width: 375px) {
        .explain .container ul {
          padding: 0; } }
    .explain .container li {
      float: left;
      width: 25%;
      padding: 0 30px; }
      @media (max-width: 768px) {
        .explain .container li {
          width: 50%;
          padding: 30px 60px; } }
      @media (max-width: 375px) {
        .explain .container li {
          width: 100%;
          padding: 50px; } }
      .explain .container li i {
        font-size: 90px;
        color: #650300; }
      .explain .container li h6 {
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0; }

.content .ad .container {
  padding: 50px 0; }

.content .ad .title {
  text-align: center; }

.content .ad h2 {
  font-size: 40px; }
  @media (max-width: 768px) {
    .content .ad h2 {
      font-size: 35px; } }

.content .ad i {
  font-size: 50px; }
  @media (max-width: 768px) {
    .content .ad i {
      font-size: 40px; } }

.content .ad ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 50px auto; }
  @media (max-width: 768px) {
    .content .ad ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.content .ad li {
  margin: 15px 0;
  font-style: italic; }
  @media (max-width: 375px) {
    .content .ad li {
      position: relative;
      margin: 5px 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.content .ad .item-p-l {
  padding-left: 20px; }
  @media (max-width: 768px) {
    .content .ad .item-p-l {
      padding: 0; } }

.content .ad .item-p-r {
  padding-right: 20px; }
  @media (max-width: 768px) {
    .content .ad .item-p-r {
      padding: 0; } }

.content .ad .pic {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  @media (max-width: 768px) {
    .content .ad .pic {
      width: 60%;
      margin-right: 20px; } }
  @media (max-width: 375px) {
    .content .ad .pic {
      width: 100%;
      margin-right: 0; } }

.content .ad .div-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content .ad .item-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .content .ad .item-right {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.content .ad .pic-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 375px) {
    .content .ad .pic-text {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

.content .design {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6))), url(https://images.unsplash.com/photo-1582480983712-666335fc86e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1582480983712-666335fc86e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1582480983712-666335fc86e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }
  .content .design .container {
    padding: 50px 0; }
    .content .design .container .col-6 {
      float: left;
      width: 45%;
      height: 455px;
      margin: 40px 10px;
      background-size: cover;
      background-repeat: no-repeat; }
      @media (max-width: 1280px) {
        .content .design .container .col-6 {
          width: 45%; } }
      @media (max-width: 768px) {
        .content .design .container .col-6 {
          height: 278px;
          margin: 10px; } }
      @media (max-width: 375px) {
        .content .design .container .col-6 {
          width: 95%; } }
      .content .design .container .col-6 h2 {
        padding-top: 40%;
        font-size: 50px; }
    .content .design .container .item1 {
      -webkit-filter: hue-rotate(13deg);
              filter: hue-rotate(13deg);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.6))), url(https://images.unsplash.com/photo-1509475826633-fed577a2c71b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
      background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(https://images.unsplash.com/photo-1509475826633-fed577a2c71b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(https://images.unsplash.com/photo-1509475826633-fed577a2c71b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80); }
    .content .design .container .item2 {
      -webkit-filter: hue-rotate(37deg);
              filter: hue-rotate(37deg);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.6))), url(https://images.unsplash.com/photo-1486670082170-b54a98edda89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
      background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(https://images.unsplash.com/photo-1486670082170-b54a98edda89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(https://images.unsplash.com/photo-1486670082170-b54a98edda89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); }

.content .recommend {
  padding: 50px 0; }
  .content .recommend ul {
    width: 93%;
    margin: 0 auto;
    padding: 50px 0; }
    @media (max-width: 1280px) {
      .content .recommend ul {
        width: 100%; } }
    @media (max-width: 375px) {
      .content .recommend ul {
        padding: 30px 0; } }
    .content .recommend ul li {
      position: relative;
      height: 500px;
      float: left;
      width: 22%;
      margin: 0 11px;
      -webkit-box-shadow: 0 0 7px rgba(218, 218, 218, 0.7);
              box-shadow: 0 0 7px rgba(218, 218, 218, 0.7); }
      @media (max-width: 768px) {
        .content .recommend ul li {
          width: 46%;
          margin: 13px; } }
      @media (max-width: 375px) {
        .content .recommend ul li {
          width: 100%;
          margin-top: 30px;
          margin-right: 0;
          margin-left: 0;
          margin-bottom: 0; } }
      .content .recommend ul li img {
        width: 100%; }
      .content .recommend ul li .name {
        padding-bottom: 8px; }
      .content .recommend ul li .time {
        position: absolute;
        padding-bottom: 16px;
        bottom: 0; }
      .content .recommend ul li .detail {
        padding: 16px; }

.contact {
  padding: 50px 0;
  background-color: #faeded; }
  .contact .container {
    width: 35%; }
    @media (max-width: 1280px) {
      .contact .container {
        width: 75%; } }
    @media (max-width: 375px) {
      .contact .container {
        width: 100%; } }
  .contact .black-h2 {
    color: black; }
  .contact .title {
    padding-bottom: 25px; }
    .contact .title p {
      padding-top: 20px; }
  .contact .form-control {
    background: none;
    border: 1px solid black;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .contact textarea {
    line-height: 3; }
  @media (max-width: 375px) {
    .contact .mb-11 {
      position: relative; } }
  @media (max-width: 375px) {
    .contact .mb-11 input {
      position: absolute;
      top: 5px; } }
  @media (max-width: 375px) {
    .contact .mb-11 label {
      padding-left: 22px; } }
  .contact .indexForm-btn {
    display: block;
    margin: 0 auto;
    padding: 13px 115px;
    border: none; }
    @media (max-width: 1280px) {
      .contact .indexForm-btn {
        margin-top: 35px; } }
  .contact .bg-primary {
    background-color: #AA0601 !important; }

.container h2 {
  text-align: center;
  font-weight: 700;
  color: #650300; }

.container .white {
  color: white; }

.container .red {
  color: #AA0601; }

.container h6 {
  color: #650300; }

.container i {
  color: #650300; }

.container p {
  color: #650300; }

.s-f-top .nav {
  border-left: 2px solid #e4e4e4; }
  .s-f-top .nav li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: 2px solid #e4e4e4;
    border-top: none;
    border-bottom: none;
    border-left: none; }
    .s-f-top .nav li a {
      padding: 20px; }
      @media (max-width: 375px) {
        .s-f-top .nav li a {
          padding: 0; } }
      .s-f-top .nav li a:hover {
        border-bottom: 5px solid #AA0601; }
      .s-f-top .nav li a:active {
        border-bottom: 5px solid #AA0601; }
      .s-f-top .nav li a:focus {
        border-bottom: 5px solid #AA0601; }
    @media (max-width: 375px) {
      .s-f-top .nav li {
        padding: 10px; } }
    @media (max-width: 375px) {
      .s-f-top .nav li h2 {
        font-size: 15px; } }
    @media (max-width: 375px) {
      .s-f-top .nav li h2 i {
        font-size: 15px; } }
  .s-f-top .nav .active {
    border-bottom: 5px solid #AA0601; }
    .s-f-top .nav .active a:hover {
      border: none; }

.s-f-top .s-f-top-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .s-f-top .s-f-top-pic li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

.celluloidCombi {
  padding: 50px 0; }
  .celluloidCombi .container h3 {
    text-align: center;
    padding: 10px 0; }
  .celluloidCombi .container img {
    display: block; }
    @media (max-width: 1280px) {
      .celluloidCombi .container img {
        width: 100%; } }
  .celluloidCombi .container li {
    float: left;
    margin: 50px 10px; }
    @media (max-width: 1280px) {
      .celluloidCombi .container li {
        width: 47%; } }
    @media (max-width: 375px) {
      .celluloidCombi .container li {
        width: 100%;
        margin: 50px 0; } }
    .celluloidCombi .container li .type {
      float: left;
      font-size: 20px;
      font-weight: 600; }
    .celluloidCombi .container li .price {
      text-align: right;
      font-size: 20px;
      font-weight: 600;
      color: #AA0601; }
    .celluloidCombi .container li .color-box ul {
      padding: 0; }
    .celluloidCombi .container li .color-box li {
      float: none;
      display: inline;
      margin-left: 0;
      padding: 0 9px;
      border-radius: 15%; }
      @media (max-width: 375px) {
        .celluloidCombi .container li .color-box li {
          margin-right: 5px; } }
    .celluloidCombi .container li .color-box .brown {
      background-color: #5F3E2D; }
    .celluloidCombi .container li .color-box .orange {
      background-color: #B75929; }

.number-of-pages {
  position: relative;
  padding: 50px 0; }
  .number-of-pages .container {
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .number-of-pages .container ul {
      border-left: 1px solid #929292; }
    .number-of-pages .container li {
      float: left;
      border: 1px solid #929292;
      border-left: none; }
      .number-of-pages .container li a {
        padding: 5px 10px;
        color: #555555;
        -webkit-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all; }
        .number-of-pages .container li a:hover {
          background-color: #F2F2F2; }
        .number-of-pages .container li a:active {
          color: white;
          background-color: black; }
        .number-of-pages .container li a:focus {
          color: white;
          background-color: black; }

.store-base .container {
  padding: 50px 0; }
  .store-base .container h1 {
    border-left: 6px solid #AA0601;
    padding-left: 10px; }
    @media (max-width: 768px) {
      .store-base .container h1 {
        margin: 0 10px; } }
    @media (max-width: 375px) {
      .store-base .container h1 {
        margin: 0 10px; } }
  .store-base .container .place li {
    float: left;
    margin: 20px 10px;
    border: 1px solid #d3d3d3; }
    .store-base .container .place li h5 {
      padding: 10px 10px;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid #d3d3d3; }
    .store-base .container .place li .detail {
      position: relative;
      padding: 10px 10px; }
      .store-base .container .place li .detail li {
        float: none;
        margin: 10px 0;
        border: none; }
        .store-base .container .place li .detail li i {
          position: absolute;
          color: black; }
        .store-base .container .place li .detail li a {
          padding-left: 30px;
          color: black; }
        .store-base .container .place li .detail li p {
          padding-left: 30px;
          color: black; }
    .store-base .container .place li .a-bottom {
      text-align: center;
      padding: 20px 0;
      color: white;
      background-color: black; }
  .store-base .container form {
    padding: 15px 0; }
    @media (max-width: 768px) {
      .store-base .container form {
        margin: 0 10px; } }
    @media (max-width: 375px) {
      .store-base .container form {
        margin: 0 10px; } }
    .store-base .container form label {
      margin-bottom: 0;
      margin-right: 13px;
      font-weight: 700; }
    .store-base .container form .input-area {
      width: 20%;
      padding: 5px 5px; }
      @media (max-width: 768px) {
        .store-base .container form .input-area {
          width: 40%; } }
      @media (max-width: 375px) {
        .store-base .container form .input-area {
          width: 70%; } }

.store .container {
  padding: 50px 0; }
  .store .container h1 {
    border-left: 6px solid #AA0601;
    padding-left: 10px; }
    @media (max-width: 768px) {
      .store .container h1 {
        margin: 0 10px; } }
    @media (max-width: 375px) {
      .store .container h1 {
        margin: 0 10px; } }
  .store .container .place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 375px) {
      .store .container .place {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .store .container .place li {
      float: left;
      margin: 20px 10px;
      border: 1px solid #d3d3d3;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .store .container .place li h5 {
        padding: 10px 10px;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #d3d3d3; }
      .store .container .place li .detail {
        position: relative;
        padding: 10px 10px; }
        .store .container .place li .detail li {
          float: none;
          margin: 10px 0;
          border: none; }
          .store .container .place li .detail li i {
            position: absolute;
            color: black; }
          .store .container .place li .detail li a {
            padding-left: 30px;
            color: black; }
          .store .container .place li .detail li p {
            padding-left: 30px;
            color: black; }
      .store .container .place li .a-bottom {
        text-align: center;
        padding: 20px 0;
        color: white;
        background-color: black; }
    .store .container .place .map {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  .store .container form {
    padding: 15px 0; }
    @media (max-width: 768px) {
      .store .container form {
        margin: 0 10px; } }
    @media (max-width: 375px) {
      .store .container form {
        margin: 0 10px; } }
    .store .container form label {
      margin-bottom: 0;
      margin-right: 13px;
      font-weight: 700; }
    .store .container form .input-area {
      width: 20%;
      padding: 5px 5px; }
      @media (max-width: 768px) {
        .store .container form .input-area {
          width: 40%; } }
      @media (max-width: 375px) {
        .store .container form .input-area {
          width: 70%; } }

.blog-top {
  background-color: #650300;
  line-height: 3; }
  .blog-top .nav ul {
    width: 100%; }
  .blog-top .nav li {
    float: left;
    padding-right: 25px; }
    @media (max-width: 375px) {
      .blog-top .nav li {
        padding: 0 11px; } }
  .blog-top .nav a {
    font-weight: 700;
    color: white;
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all; }
    .blog-top .nav a:hover {
      color: #dbdbdb; }
  .blog-top .nav .search {
    float: right;
    padding: 0; }
    @media (max-width: 375px) {
      .blog-top .nav .search {
        display: none; } }
    .blog-top .nav .search i {
      vertical-align: middle;
      color: white; }

.blog-main .col-6 {
  float: left;
  padding: 22px; }
  @media (max-width: 768px) {
    .blog-main .col-6 {
      padding: 20px 10px; } }
  @media (max-width: 375px) {
    .blog-main .col-6 {
      width: 100%; } }
  .blog-main .col-6 h4 {
    font-weight: 700;
    color: #650300; }
  .blog-main .col-6 .subslogan {
    float: left;
    font-weight: 700; }
  .blog-main .col-6 .date {
    text-align: right; }
  .blog-main .col-6 .text {
    height: 250px;
    padding-top: 20px; }
    @media (max-width: 768px) {
      .blog-main .col-6 .text {
        height: auto; } }
  .blog-main .col-6 a {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: #650300; }
    @media (max-width: 768px) {
      .blog-main .col-6 a {
        font-size: 15px; } }
  .blog-main .col-6 p {
    color: black; }

.blog-in-main .col-8 {
  padding-right: 20px;
  padding-bottom: 150px;
  float: left; }
  @media (max-width: 375px) {
    .blog-in-main .col-8 {
      width: 100%;
      padding-right: 0;
      padding-bottom: 20px; } }
  .blog-in-main .col-8 .list {
    padding: 10px 0; }
    .blog-in-main .col-8 .list li {
      float: left; }
    .blog-in-main .col-8 .list a {
      font-size: 10px;
      color: black; }
      .blog-in-main .col-8 .list a:active {
        color: #AA0601; }
      .blog-in-main .col-8 .list a:focus {
        color: #AA0601; }
    .blog-in-main .col-8 .list .slash:after {
      content: "/";
      padding: 0 5px;
      color: black; }
  .blog-in-main .col-8 h2 {
    text-align: left;
    padding: 5px 0;
    color: black; }
  .blog-in-main .col-8 h5 {
    float: left;
    padding: 5px 0;
    font-weight: 700; }
  .blog-in-main .col-8 .time {
    text-align: right;
    color: black; }
  .blog-in-main .col-8 .article {
    padding: 20px 0; }
  .blog-in-main .col-8 .soshow-media a {
    display: inline-block;
    font-weight: 700;
    color: black; }
  .blog-in-main .col-8 .soshow-media i {
    vertical-align: middle;
    color: black; }
  .blog-in-main .col-8 .turn-page {
    padding: 5px 0; }
    .blog-in-main .col-8 .turn-page li {
      position: relative;
      float: left; }
    @media (max-width: 375px) {
      .blog-in-main .col-8 .turn-page .previous {
        float: none; } }
    .blog-in-main .col-8 .turn-page .previous p {
      padding-left: 30px; }
    .blog-in-main .col-8 .turn-page .next {
      float: right; }
      @media (max-width: 375px) {
        .blog-in-main .col-8 .turn-page .next {
          float: none; } }
      .blog-in-main .col-8 .turn-page .next i {
        top: 0;
        right: 0; }
        @media (max-width: 375px) {
          .blog-in-main .col-8 .turn-page .next i {
            left: 0; } }
      .blog-in-main .col-8 .turn-page .next p {
        padding-right: 30px; }
        @media (max-width: 375px) {
          .blog-in-main .col-8 .turn-page .next p {
            padding-left: 30px; } }
    .blog-in-main .col-8 .turn-page a {
      font-weight: 700;
      color: black; }
    .blog-in-main .col-8 .turn-page i {
      position: absolute;
      color: black; }
    .blog-in-main .col-8 .turn-page p {
      color: black; }

.blog-in-main .col-3 {
  float: left;
  padding-left: 20px;
  padding-top: 50px; }
  @media (max-width: 375px) {
    .blog-in-main .col-3 {
      float: none;
      width: 100%;
      padding-bottom: 30px;
      padding-left: 0; } }
  .blog-in-main .col-3 h2 {
    text-align: left;
    font-size: 30px;
    color: #AA0601; }
    @media (max-width: 375px) {
      .blog-in-main .col-3 h2 {
        font-size: 25px;
        padding-bottom: 10px; } }
    .blog-in-main .col-3 h2 i {
      vertical-align: bottom;
      font-size: 40px;
      color: #AA0601; }
      @media (max-width: 375px) {
        .blog-in-main .col-3 h2 i {
          font-size: 30px; } }
    @media (max-width: 375px) {
      .blog-in-main .col-3 h2 a {
        font-size: 20px; } }

.blog-in-main .tab a {
  display: inline-block;
  padding-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #AA0601; }

.qa-main .container ul {
  padding: 40px 0; }

.qa-main .container h4 {
  font-weight: 700; }

.qa-main .container h6 {
  font-weight: 700;
  color: black; }

.qa-main .container p {
  padding: 30px 60px;
  color: black; }
  @media (max-width: 375px) {
    .qa-main .container p {
      padding: 30px 0; } }

/*# sourceMappingURL=all.css.map */
